:host {
    font-size: small;
    font-family: sans-serif;
}
h3 {
    font-weight: 500;
}
.top-menu {
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px !important;
}
.menu-list {
    display: flex;
    flex-direction: row;
}
.menu-list button {
    padding: 4px;
    border: #e2e0e0 1px solid;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    color: rgb(122, 123, 124);
    font-weight: bold;
    height: 30px !important;
}
.active {
    background-color: blue !important;
    color: white !important;
}
mat-icon {
    font-size: 18px;
}
.dropdown {
    display: flex;
    flex-direction: column;
}
.dropdown button {
    border-radius: 5px;
    font-size: small;
}
.dropdown button:hover {
    background-color: #0000ff !important;
    color: white !important;
    border-radius: 0px !important;
}
.dropdown button span {
    margin-left: 30px;
    float: right !important;
}

.search {
    width: 130px !important;
    border: grey !important;
    margin-left: 5px !important;
}
.search:focus {
    outline: transparent;
}

::ng-deep.mat-datepicker-content-container .mat-calendar {
    width: 240px !important;
    height: 300px !important;
}
