<div class="top-menu">
    <h3>All Habits</h3>
    <div class="menu-list">
        <button (click)="search = true">
            <mat-icon>search</mat-icon>
            <input
                *ngIf="search"
                type="text"
                class="search"
                placeholder="Search"
                #input
                (focusout)="cancelSearch()"
                [ngModel]="userService.filterString | async"
                (ngModelChange)="userService.filterString.next($event)"
            />
        </button>
        <button (click)="picker.open()">
            <mat-icon>calendar_today</mat-icon>
            <input
                [matDatepicker]="picker"
                class="px-1"
                style="width: 80px; border: none; outline: none"
                *ngIf="!search"
                [ngModel]="userService.datePicker | async"
                (ngModelChange)="userService.datePicker.next($event)"
            />
            <mat-datepicker #picker> </mat-datepicker>
            <mat-icon *ngIf="!search">arrow_drop_down</mat-icon>
        </button>
        <button #sortTrigger="matMenuTrigger" [matMenuTriggerFor]="sorting">
            <mat-icon>sort</mat-icon>
            <span class="px-1" *ngIf="!search">Albhabetical</span>
            <mat-icon *ngIf="!search">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #sorting="matMenu" [overlapTrigger]="false" class="mt-2">
            <div class="dropdown">
                <button mat-menu-item>
                    <mat-icon></mat-icon>
                    Reminder Time
                </button>
                <button mat-menu-item (click)="setSortingIndex('my-habits')">
                    <mat-icon
                        [style.visibility]="
                            sortingInedex === 'my-habits' ? 'visible' : 'hidden'
                        "
                        >done</mat-icon
                    >
                    My Habits Order
                </button>
                <button
                    mat-menu-item
                    [matMenuTriggerFor]="subAlphabet"
                    #alphabetsTrigger="matMenuTrigger"
                    (mouseover)="alphabetsTrigger.openMenu()"
                >
                    <mat-icon
                        [style.visibility]="
                            sortingInedex !== 'my-habits' ? 'visible' : 'hidden'
                        "
                        >done</mat-icon
                    >
                    <span>Alphabetical</span>
                </button>
                <mat-menu
                    #subAlphabet="matMenu"
                    [overlapTrigger]="false"
                    class="ml-1"
                >
                    <div class="dropdown">
                        <button
                            mat-menu-item
                            (click)="setSortingIndex('ascending')"
                        >
                            <mat-icon
                                [style.visibility]="
                                    sortingInedex === 'ascending'
                                        ? 'visible'
                                        : 'hidden'
                                "
                                >done</mat-icon
                            >
                            A-Z
                        </button>
                        <button
                            mat-menu-item
                            (click)="setSortingIndex('descending')"
                        >
                            <mat-icon
                                [style.visibility]="
                                    sortingInedex === 'descending'
                                        ? 'visible'
                                        : 'hidden'
                                "
                                >done</mat-icon
                            >
                            Z-A
                        </button>
                    </div>
                </mat-menu>
            </div>
        </mat-menu>
        <button
            class="active"
            #addHabitTrigger="matMenuTrigger"
            [matMenuTriggerFor]="addHabit"
        >
            <mat-icon>add</mat-icon>
            <span>Add Habits</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #addHabit="matMenu" [overlapTrigger]="false" class="mt-2">
            <div class="dropdown">
                <button mat-menu-item (click)="openDialog()">
                    <mat-icon>all_inclusive</mat-icon>
                    Create Good Habit
                </button>
                <button mat-menu-item>
                    <mat-icon>block</mat-icon>
                    Break Bad Habit
                </button>
                <mat-divider></mat-divider>
                <button mat-menu-item>
                    <mat-icon>add</mat-icon>
                    Log Mood
                </button>
            </div>
        </mat-menu>
    </div>
</div>

<mat-menu #dateMenu="matMenu" [overlapTrigger]="false">
    <ng-template matContent>
        <mat-datepicker #picker> </mat-datepicker>
    </ng-template>
</mat-menu>
