<div mat-dialog-title>
    <mat-icon style="color: rgb(245, 185, 75)">warning</mat-icon>
    <strong class="mx-2">Confirmation</strong>
</div>
<div mat-dialog-content class="mt-2">
    <p>Are you sure you want to delete habits?</p>
</div>
<div mat-dialog-actions class="mt-2" style="float: right">
    <button mat-button class="btn btn-light mx-2" (click)="closeDeletion()">
        Cancel
    </button>
    <button
        mat-button
        cdkFocusInitial
        class="btn btn-primary"
        (click)="onDeleteHabit(editModeId)"
    >
        Ok
    </button>
</div>
