<div class="main" *ngIf="isLoading"></div>
<div class="main" *ngIf="!isLoading">
    <h3 mat-dialog-title>New Habit</h3>
    <form [formGroup]="habitsForm" (ngSubmit)="addHabit()">
        <div mat-dialog-content>
            <label for="name" class="mb-1">NAME</label>
            <div class="fields">
                <input
                    type="text"
                    style="width: 420px"
                    formControlName="name"
                />
                <mat-icon color="primary">help</mat-icon>
            </div>
            <div class="fields mt-2">
                <div>
                    <label for="goal" class="mb-1">GOAL</label>
                    <input
                        type="number"
                        value="1"
                        style="width: 90px"
                        formControlName="Goal"
                    />
                </div>
                <div>
                    <select name="time" style="margin-top: 25px; width: 90px">
                        <option value="times" selected>Times</option>
                        <option value="Mins">Mins</option>
                    </select>
                </div>
                <div>
                    <select
                        name="iteration"
                        style="margin-top: 25px; width: 90px"
                        formControlName="schedual"
                    >
                        <option
                            *ngFor="let schedual of schedualOption"
                            [value]="schedual.value"
                        >
                            {{ schedual.title }}
                        </option>
                    </select>
                </div>
                <div>
                    <label for="repeat" style="margin-left: 10px" class="mb-1"
                        >REPEAT</label
                    >
                    <select
                        name="repeat"
                        style="width: 140px"
                        formControlName="repeat"
                        #habitRepeatmenuTrigger="matMenuTrigger"
                        [matMenuTriggerFor]="habitRepeat"
                        (focus)="habitRepeatmenuTrigger.openMenu()"
                        (change)="(formattedSelectedDays)"
                    ></select>
                </div>
            </div>
            <div class="fields mt-2">
                <div>
                    <label for="goal" class="mb-1">TIME OF DAY</label>
                    <select
                        name="catagoty"
                        style="width: 290px; margin-left: 0px !important"
                        formControlName="catagory"
                    >
                        <option
                            *ngFor="let catagory of catagoryOption"
                            [value]="catagory.value"
                        >
                            {{ catagory.title }}
                        </option>
                    </select>
                </div>
                <div>
                    <label for="date" style="margin-left: 10px" class="mb-1"
                        >START DATE</label
                    >
                    <input
                        type="date"
                        style="width: 140px; margin-left: 10px"
                        formControlName="start_date"
                        min="{{ startDate }}"
                    />
                </div>
            </div>
            <div class="fields mt-2">
                <div>
                    <label for="date" class="mb-1">REMINDERS</label>
                    <input type="text" style="width: 440px" />
                </div>
            </div>
        </div>

        <div class="footer">
            <div
                class="actionsForUpdate"
                [style.visibility]="editMode ? 'visible' : 'hidden'"
            >
                <button
                    mat-button
                    class="btn btn-light mx-2 text-danger"
                    type="button"
                    (click)="msgService.openDeleteDialog(editModeId)"
                >
                    Delete
                </button>
                <button
                    mat-button
                    class="btn btn-light text-dark"
                    type="button"
                    (click)="
                        userService.onUpdateHabitCatagory(
                            editModeId,
                            'archived'
                        )
                    "
                >
                    Archive
                </button>
            </div>
            <div class="actionsForUpdate">
                <button
                    mat-button
                    mat-dialog-close
                    (click)="msgService.onNoClick()"
                    class="btn btn-light mx-2"
                    type="button"
                >
                    Cancel
                </button>
                <button
                    mat-button
                    [disabled]="!habitsForm.valid"
                    class="btn btn-primary"
                    type="submit"
                >
                    Save
                </button>
            </div>
        </div>
    </form>
</div>

<mat-menu #habitRepeat="matMenu" class="repeat-menu mt-1">
    <div class="dropdown">
        <button mat-menu-item class="px-2" [matMenuTriggerFor]="habitDaily">
            Daily
        </button>
        <button mat-menu-item class="px-2">Monthly</button>
    </div>
</mat-menu>

<mat-menu #habitDaily="matMenu" class="repeat-menu mt-1">
    <mat-checkbox
        *ngFor="let item of weekDays; let i = index"
        [(ngModel)]="item.activated"
        (click)="$event.stopPropagation()"
        (change)="onDaySelect()"
        class="px-2 week"
        >{{ item.title }}</mat-checkbox
    >
</mat-menu>
