<div class="no-habits">
    <div class="mt-1 demo">
        <mat-icon style="color: green">directions_bike</mat-icon>
        <div class="bar-1"></div>
    </div>
    <div class="mt-1 demo">
        <mat-icon color="primary">directions_run</mat-icon>
        <div class="bar-1"></div>
    </div>
    <div class="mt-1 demo">
        <mat-icon style="color: orange">local_cafe</mat-icon>
        <div class="bar-1"></div>
    </div>
    <h3 class="my-3">The Start of a Better You!</h3>
    <p class="text-secondary">Habits are like dominos. As one is formed,</p>
    <p class="text-secondary">all others will follow!</p>
    <button class="my-2 active" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        <span>Add Habits</span>
    </button>
</div>
