.main {
    height: calc(100vh) !important;
    background-color: white !important;
    /* display: flex;
  flex-direction: row; */
}
.content {
    border-right: #e2e0e0 1px solid;
    /* width: 836px;
  min-width: 600;
  max-width: 1330; */
}
.menu-btn {
    background-color: transparent;
    color: black;
    border: grey 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
}
