<mat-sidenav-container *ngIf="isLoading === false" autosize>
    <mat-sidenav mode="side" opened="true">
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="row main">
            <div class="col-md-8 content">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-4 track-status">
                <app-habits-progress *ngIf="progressMode"></app-habits-progress>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<div
    *ngIf="isLoading === true"
    class="d-flex justify-content-center h-80 align-items-center"
>
    <div class="spinner-border text-primary" role="status"></div>
</div>
